In [9]:
d1 ={"name":"gitam"}
print(d1)
d2 ={"name":"gitam","email":"rohith@123","address":"hyderabad"}
print(d2)
del d2["name"]
print(d2)

{'name': 'gitam'}
{'name': 'gitam', 'email': 'rohith@123', 'address': 'hyderabad'}
{'email': 'rohith@123', 'address': 'hyderabad'}

In [10]:
d2 ={"name":"gitam","email":"rohith@123","address":"hyderabad"}
d2["email"]="rohith@k143"
print(d2)

{'name': 'gitam', 'email': 'rohith@k143', 'address': 'hyderabad'}

In [12]:
d2 ={"name":"gitam","email":"rohith@123","address":"hyderabad"}

d2.keys()

dict_keys(['name', 'email', 'address'])

In [14]:
d2.items()

dict_items([('name', 'gitam'), ('email', 'rohith@123'), ('address', 'hyderabad')])

In [15]:
d2.values()

dict_values(['gitam', 'rohith@123', 'hyderabad'])

In [21]:
# add contact
contacts ={}
def addcnt(name,cnt):
    if name not in contacts:
        contacts[name]=cnt
        print("contact details are added")
    else:
        print("contact details alredy exists")
    return
addcnt('rohit',7981298673)
addcnt('rohit',7981298673)
addcnt('kiran',7799744433)
print(contacts)

contact details are added
contact details alredy exists
contact details are added
{'rohit': 7981298673, 'kiran': 7799744433}

In [24]:
def search(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s name not found"% name)
    return
search('rohit')

rohit : 7981298673

In [26]:
def importc(newcnt):
    contacts.update(newcnt)
    print(len(newcnt.keys()),"contacts added successfully")
    return

newcnt={"rohith":5486651468465,"roh":34546878455}
importc(newcnt)

2 contacts added successfully

In [28]:
contacts

{'rohit': 7981298673,
 'kiran': 7799744433,
 'rohith': 5486651468465,
 'roh': 34546878455}

In [31]:
def deletecnt(name):
    if name in contacts:
        del contacts[name]
        print(name ,"  deleated successfully")
    else:
        print("name doesnt exists")
    return
deletecnt("roh")

roh   deleated successfully

In [30]:
contacts

{'rohit': 7981298673, 'rohith': 5486651468465, 'roh': 34546878455}

In [33]:
#update contacts
def updatec(name,cnt):
    if name in contacts:
        contacts[name] =cnt
        print(name,"updated successfully")
    else:
        print(name,"not exists")
    return
updatec("rohit",7799744433)

rohit updated successfully

In [34]:
contacts

{'rohit': 7799744433, 'rohith': 5486651468465}

In [36]:
li=["python","programming"]
print("%s  %s" % (li[0],li[1]))

python  programming

In [38]:
li1=[1,2,3,4]
print("%d %d %d %d" % (li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

upper()-given string to uppercase
lower()-given string to lowercase

In [44]:
s1='gitam'
print(s1.upper())
print(s1.isupper())
print(s1.islower())
s2='GITAM'
print(s2.isupper())
print(s2.islower())
print(s2.lower())

GITAM
False
True
True
False
gitam

In [45]:
s1="Python Programming"
s2="Python programming"
print(s1.istitle())
print(s2.istitle())

True
False

In [47]:
s1="PythonProgramming"
s2="Python progr4756amming"
print(s1.isalpha())
print(s2.isalpha())

True
False

In [49]:
s1="PythonProgramming"
s2="9866260113"
s3="PythonProgramming544854"
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())

False
True
False

In [51]:
s1=" "
s2="Python programming"
print(s1.isspace())
print(s2.isspace())

True
False

In [53]:
s1="python"
print("a".join(s1))

payatahaoan

In [55]:
li=["python","programming"]
print(",".join(li))

python,programming

In [60]:
s1="python programming made esay"
li=s1.split('a')
print(li)

['python progr', 'mming m', 'de es', 'y']

In [61]:
s1="python programming made esay"
li=s1.split()
print(li)
print(len(li))

['python', 'programming', 'made', 'esay']
4

In [63]:
s1="python programming made esay"
li=list(s1)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'm', 'a', 'd', 'e', ' ', 'e', 's', 'a', 'y']

In [72]:
s1="python programming made esay"
li=s1.replace("gra","difficult")
print(li)

python prodifficultmming made esay

In [73]:
import math
math.floor(123.5)

123

In [77]:
import random
def randomnu(n,l,u):
    for i in range(1,n):
        print(random.randint(l,u))
    return
randomnu(5,0,100)

35
81
85
56

In [88]:
##game
import random
li=[]
def randomnu(n,l,u,k):
    for i in range(1,n):
        li.append(random.randint(l,u))
    if n in li:
        print("you won")
    else:
        print("you lose")
    return
k=145
randomnu(20,0,200,k)

you won